.text {
    line-height: 1.25rem;
}

.icon {
    --sds-c-icon-color-foreground-default: black;
    padding-left: 0.5rem;
    padding-right: 0.2rem;
}

.section {
    padding-right: 0rem;
    padding-left: 0rem;
}

.clipboardInput {
    position: fixed;
    top: -5rem;
    height: 1px;
    width: 10px;
}
