.icon {
    --sds-c-icon-color-foreground-default: black;
    padding-left: 0.5rem;
    padding-right: 0.2rem;
}
/* sjekk padding-left*/
.section {
    padding-right: 0rem;
    padding-left: 0rem;
}

/* fiks */
.slds-section__title {
    line-height: 1.875rem !important;
}

.text {
    line-height: 1.25rem;
}
